<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAYEj1BaVzE4vPnAruK6_Do_Z0kAomYsn8</string>
	<key>GCM_SENDER_ID</key>
	<string>128166978196</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoList.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mimo-f9096</string>
	<key>STORAGE_BUCKET</key>
	<string>mimo-f9096.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:128166978196:ios:8378e56954d994f501ca81</string>
</dict>
</plist>